dconf
enchant
evolution
goa-1.0
google-chrome
gtk-3.0
ibus
libreoffice
menus
nautilus
pulse
*.list
*.dirs
*.locale
.gsd-keyboard.settings-ported
gnome-initial-setup-done
FortiClient
Google
obs-studio/logs
obs-studio/profiler_data
obs-studio/plugin_config
nvim/.github
nvim/doc
nvim/.github
nvim/LICENSE.md
nvim/lazy-lock.json
stripe
systemd
kdenlive*
kconf*
nvim.backup
kdeglobals
